.shade {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100vw;
  // height: 300px;
  margin: 0 auto;
  background: white;
}
